scoop/
.android/
.bash_history
.cache/
.conf.git/
.config/scoop/
.git/
.gnupg/
.lesshst
.ssh/
.vscode/
.vscode-insiders/
3D Objects
Books
Docs_sym
AppData
Contacts
Desktop
Documents/
!Documents/Powershell/
Documents/Powershell/Help/
!Documents/Powershell/Modules
!Documents/WindowsPowerShell/
Documents/WindowsPowerShell/Help/
!Documents/WindowsPowerShell/Modules
Downloads/
Favorites/
git/
IntelGraphicsProfiles
Links/
Music/
OneDrive/
NTUSER*
Pictures/
Portables/
Recorded Calls/
Saved Games/
Searches/
test*
Videos/
navdb.csv
ntuser*
.wslconfig
.wslconfig
